<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="form">
    <div class = "fila">
      <input [(ngModel)]="diaIda" placeholder="dia de Ida">
      <input [(ngModel)] = "horaIda" placeholder="hora de Ida">
      <input [(ngModel)] = "horaVuelta" placeholder="hora de Vuelta">
    </div>
    <div class = "fila">
      <input [(ngModel)] = "diaVuelta" placeholder="dia de Vuelta">
      <input [(ngModel)] = "precio" placeholder="precio">
    </div>
    <div class="fila">
      <input [(ngModel)] = "lugarRecogidaIda" placeholder="lugar de Salida">
      <input [(ngModel)] = "lugarRecogidaVuelta" placeholder="lugar de Recogida">
      <input [(ngModel)] = "destino" placeholder="destino">
    </div>

    <div class="fila">

      <button class="confirmar" (click)="toString(precio, horaIda, horaVuelta, lugarRecogidaIda, lugarRecogidaVuelta, destino, diaIda, diaVuelta)">Confirmar</button>
    </div>
  </div>
  <p>{{texto}}</p>
</div>
<router-outlet></router-outlet>
